/* Import Chinese fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;700&family=Noto+Sans+SC:wght@300;400;500;700&display=swap');

@font-face {
  font-family: FangSong; /* set name */
  src: url(./Fonts/FangSong.ttf); /* url of the font */
}

@font-face {
  font-family: KaiTi; /* set name */
  src: url(./Fonts/KaiTi.ttf); /* url of the font */
}

@font-face {
  font-family: SimSun; /* set name */
  src: url(./Fonts/SimSun.ttf); /* url of the font */
}
